<<<<<<< HEAD
.upload {
  display: flex;
  flex-direction: column;
  height: 150px;
  border: medium dashed rgba(0,0,0,.125);
}

.upload .label {
  margin: auto;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.upload input[type="file"] {
  position: absolute;
  left: 0;
  opacity: 0;
  height: 150px;
=======
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
>>>>>>> 85a310e (Initial commit)
}
